<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goldze.home">

    <application>
        <activity android:name=".ui.activity.WuYeActivity"></activity>
        <activity android:name=".ui.activity.SheQuActivity"></activity>
        <activity android:name=".ui.activity.WuYePayActivity"></activity>
        <activity android:name=".ui.activity.WuYeFeeActivity"></activity>
    </application>
</manifest>