<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goldze.work">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application>
        <activity android:name=".ui.DeviceControlActivity" />
        <activity android:name=".ui.CardActivity" />
        <activity android:name=".ui.FaceRecordActivity" />
        <activity android:name=".ui.CardRecordActivity" />
    </application>
</manifest>
